*{
    font-family: Lato, sans-serif;
    text-align: center;
}
body{
    background-color: whitesmoke;
}
a{
    color:orange;
    font-size: 22px;
    text-decoration: none;
}
.title{
    text-align: center;
    font-size: 48px;
    font-weight: 900;
    font-family: Montserrat, Helvetica, Arial, sans-serif;
    color: darkslateblue;

}
.assignment-outer{
    width: 80%;
    margin: 10px auto;
    display: flex;
}
.assignment{
    text-align: center;
    width: 45%;
    margin: 20px;
    color:white;
    background-color: rgb(70, 105, 199);
    font-weight: 600;
    font-size: 22px;
}
