
body{
    background-image: url(img/background.jpg);
    background-size: cover;
}
.app-wrapper{
    width: 360px;
    margin: 0px auto;
    border: 2px solid #001F3F;
    background-color: #F1F1E6;
    border-radius: 5px;
}
.screen{
    width: 100%;
    height: 100px;
    border: 3px solid #001F3F;
    border-bottom: 5px solid #001F3F;
    /* border-radius: 5px; */
    padding: 5px 5px 0px 5px;
    text-align: right;
}
.calcBtn{
    /* width: 33%; */
    height: 50px;
    border: 1px solid #F1F1E6;
    border-radius: 8px;
    background-color: #414756;
    color: white;
}
#input-screen{
    border: none;
    height: 40px;
    width: 100%;
    padding: 2px;
    text-align: right;
    outline: none;
    cursor: none;
    
}
input:focus {
    color: transparent;
}
.result-screen{
    font-size: 24px;
    font-weight: 800;
}
.title{
    color: #FFDC00;
    text-align: center;
    font-size: 36px;
    margin: 30px;
}