*{
    box-sizing: border-box;
}
.wrapper{
    height: 600px;
    background-color: blueviolet;
    color: white;
    text-align: center;
    width: 100%;
}
.wrapper h1, .wrapper p{
    padding: 20px;
    margin: 0px;
}
th{
    font-size: 20px;
    padding: 20px;
}